<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Création de Carte</title>
</head>
<body>

<form th:action="@{/add-card}"
      th:object="${cardForm}" method="POST">
    <fieldset >
        <legend >Crée ta carte ! </legend>
        <div >
            <label for="form-name">Nom</label>
            <div >
                <input id="form-name" type="text" placeholder="Nom..." th:field="*{name}">
            </div>
            <label  for="form-family">Famille</label>
            <div >
                <input  id="form-family" type="text" placeholder="Famille..." th:field="*{family}">
            </div>
            <label  for="form-description">Description</label>
            <div >
                <input id="form-description" type="text" placeholder="Description..." th:field="*{description}">
            </div>
            <label  for="form-imgUrl">Image URL</label>
            <div >
                <input  id="form-imgUrl" type="text" placeholder="Lien de l'image..." th:field="*{imageUrl}">
            </div>
            <label  for="form-affinity">Affinité</label>
            <div >
                <input  id="form-affinity" type="text" placeholder="Affinité" th:field="*{affinity}">
            </div>
            <label  for="form-attack">Attaque</label>
            <div >
                <input  id="form-attack" type="number" min="1" max="100" value="50" th:field="*{attack}">
            </div>
            <label  for="form-defense">Défense</label>
            <div >
                <input  id="form-defense" type="number" min="1" max="100" value="50" th:field="*{defence}">
            </div>
            <label  for="form-hp">HP</label>
            <div >
                <input  id="form-hp" type="number" min="1" max="100" value="50" th:field="*{hp}">
            </div>
            <label  for="form-energy">Energie</label>
            <div >
                <input  id="form-energy" type="number" min="1" max="100" value="50" th:field="*{energy}">
            </div>
        </div>
        <div >
            <input type="submit"  class="uk-button uk-button-default" value="Créer" />
        </div>

    </fieldset>
</form>
</body>
</html>
